:root {
  font-family: Arial, Helvetica, sans-serif;
  color-scheme: light dark;

  --primary-color: #82d2fd;
  --warning-color: #ffff00;
  --danger-color: #ff6464;
  --success-color: #64ff64;

  --background-color: light-dark(#fafafa, #272727);
  --popup-background-color: light-dark(#fff, #303030);
  --input-background-color: light-dark(#f0f0f0, #414141);
  --button-color: light-dark(#ededed, #686868);
  --text-color-white: #fff;
  --text-color-black: #000;
  --text-color: light-dark(var(--text-color-black), var(--text-color-white));
  --text-color-inverse: light-dark(var(--text-color-white), var(--text-color-black));
  --text-color-faded: light-dark(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
  --hover-overlay: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));

  --border-radius: 5px;
  --gap-horizontal: 0.5rem;

  --padding: 0.5em;
  --padding-small: 0.3em;
}

* {
  background-color: inherit;
}

body {
  box-sizing: border-box;
  background-color: var(--background-color);
  margin: auto;
  padding: var(--padding);
  height: 99vh;
  width: 99vw;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

input {
  font-size: large;
}

input:not([type='checkbox'], [type='radio']) {
  border: none;
  background-color: var(--input-background-color);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  width: 100%;
  padding: var(--padding);
}

input:focus {
  outline: 2px solid var(--primary-color);
}

label {
  margin-bottom: 0.2em;
  margin-left: var(--border-radius);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  line-height: 2em;
  padding: 0.5em;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  background: var(--button-color);
  color: var(--text-color);
}

button:hover {
  opacity: 0.8;
}

.primary {
  --button-color: var(--primary-color) !important;
  --text-color: var(--text-color-black) !important;
}

.warning {
  --button-color: var(--warning-color) !important;
  --text-color: var(--text-color-black) !important;
}

.danger {
  --button-color: var(--danger-color) !important;
  --text-color: var(--text-color-black) !important;
}

.success {
  --button-color: var(--success-color) !important;
  --text-color: var(--text-color-black) !important;
}

.icons8-close {
  display: inline-block;
  width: 1em;
  height: 1em;
  --close-icon: url('/icons8-close-black.svg');
  background: var(--close-icon) 50% 50% no-repeat;
  background-size: 100%;
}

@media screen and (prefers-color-scheme: dark) {
  .icons8-close {
    --close-icon: url('/icons8-close-white.svg');
  }
}

.inline-icon {
  height: 1.3em;
  width: 1.3em;
  vertical-align: middle;
}

form .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--gap-horizontal);
  margin-top: var(--padding);
  text-wrap: nowrap;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
}
