:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;

  --primary-color: 150, 218, 255;
  --danger-color: 255, 100, 100;
  --success-color: 100, 255, 100;

  --button-color: var(--primary-color);

  --border-radius: 5px;
  --gap-horizontal: 0.5rem;
}

body {
  box-sizing: border-box;
  margin: auto;
  padding: 8px;
  height: 99vh;
  width: 99vw;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

input {
  margin-bottom: 0.5em;
}

input:not([type='checkbox'], [type='radio']) {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: inherit;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
}

input:focus {
  outline: 2px solid rgba(var(--primary-color), 1);
}

label {
  margin-top: 0.5em;
  margin-left: var(--border-radius);
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  line-height: 2em;
  padding: 0.5em;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  background: rgba(var(--button-color), 1);
}

button:hover {
  background: rgba(var(--button-color), 0.8);
}

form button[type='submit'] {
  margin-top: 1rem;
}

.warning-btn {
  --button-color: var(--danger-color) !important;
}

.success-btn {
  --button-color: var(--success-color) !important;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
}
